<h1>Type in a word and what it means!</h1>
<form action="/word" method="post">
  <div class="form-group">
     <input name="dictionary_word" class="form-control" type="text" placeholder="Type in a Word">
     <input name="dictionary_word_definition" class="form-control" type="text" placeholder="Type in the definition">
  </div>
  <hr>
  <button type="submit" class="btn btn-success">Add the Word!</button>

  <a href="/allwords">Display words</a>


</form>
