<%= # sample index html
 <form action="/Words">
   <div class="form-group">
      <label for="word">write a word!</label>
      <input name="input_word" class="form-control" type="text">
      <label for="title">write a definition!</label>
      <input name="input_definition" class="form-control" type="text">
   </div>
   <hr>
   <button action="/" class="btn btn-success">Make A Word</button>
 </form>
%>
