<h1>Type in a word and what it means!</h1>
<form action="/word" method="post">
  <div class="form-group">
    <br>
    <label for="word">First, Write in a word</label>
    <input name="word" id='word' class="form-control" type="text" placeholder="Type in a Word right here!">
  </div>
  <hr>
  <p>After youve wrote your dictionary word. Click the green button to add it to your dictionary!
  or click the blue button to look at all the words you've defined!</p>
  <button type="submit" class="btn btn-success">Add the Word!</button>



</form>
<a href="/allwords" type="click" class="btn btn-info">See Your Dictionary!</button>
